$default-font-size: 1.6rem;

$font-family-primary: 'Roboto Slab', sans-serif;

$color-black: #000000;
$light-grey: #f8f9fa;

$color-primary: hsl(285, 65%, 35%);
$color-secondary: hsl(210, 100%, 30%);
$color-text: black;
$color-transparent: hsla(0, 0, 0, 0);

$line-color: $color-secondary;

// TODO: Fix greys
// How to get grey's that look good with your primary color
// http://willguldin.com/2017/03/28/simpler-better-color-palettes/
// https://medium.com/@erikdkennedy/color-in-ui-design-a-practical-framework-e18cacd97f9e
$grey-background-1: #f4f4f4;
$grey-background-2: #eeeeee;
