$default-font-size: 1.6rem;

$color-black: #000000;
$light-gray: #f8f9fa;

$color-primary: hsl(171, 61.7%, 41%);
$color-secondary: hsl(171, 100%, 25%);

// How to get grey's that look good with your primary color
// http://willguldin.com/2017/03/28/simpler-better-color-palettes/
// https://medium.com/@erikdkennedy/color-in-ui-design-a-practical-framework-e18cacd97f9e
$grey-background-1: hsl(171, 15%, 95%);
$grey-background-2: hsl(171, 30%, 80%);
