.education {
  @include reset-section;
  @include section-subheading;

  background-color: $background-grey-2;

  &__title {
    display: inline-block;
    margin-right: 2rem;
    font-size: 2.4rem;
  }

  &__issuer {
    font-size: 2rem;
  }
}