.skills {
  background-color: $grey-background-2;
  min-height: 100px;
  color: $color-secondary;
  font-family: 'Aldrich', sans-serif;

  &__heading {
    font-size: 4.5rem;
    margin: 0rem 0 0 3rem;
    padding-top: 5rem;
  }

  &__subheading {
    font-size: 3rem;
    margin: 2rem 3rem;
    display: inline-block;
    padding-bottom: 2rem;
    border-bottom: 2px solid rgba($color-secondary, .7);
  }

  &__section {
    padding-bottom: 4rem;
  }

  // NOT REM! Override BS4 hardcoded paddings and margins.
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  & > .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
